<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>676349923974-p3nt39nvms3nb5l2bdl3st2bnldo54ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676349923974-p3nt39nvms3nb5l2bdl3st2bnldo54ls</string>
	<key>API_KEY</key>
	<string>AIzaSyBDrSv5BT_6W5TmsyTrQk2q_o7mDABYORQ</string>
	<key>GCM_SENDER_ID</key>
	<string>676349923974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.KurkowskiSeth-Parkaholic-DVP4</string>
	<key>PROJECT_ID</key>
	<string>park-aholic</string>
	<key>STORAGE_BUCKET</key>
	<string>park-aholic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:676349923974:ios:e4539788f6575b35</string>
	<key>DATABASE_URL</key>
	<string>https://park-aholic.firebaseio.com</string>
</dict>
</plist>
